.landing-pacts {
    clearfix();

    background: url('crowd-bg.png');
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;

    .pact-section {
        border: 1px solid color-light-gray;
        border-radius: 3px;
        background: #fff;
        display: inline-block;
        margin: 20px 10px 0 10px;
        height: 254px;
        width: 300px;

        .section-header {
            border-bottom: 1px solid color-light-gray;
            border-radius: 3px 3px 0 0;
            color: color-light-font;
            padding: 10px 4px;
            text-align: center;
        }
    }
}
