<!doctype html> {% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8" />

        <title>{{ title }}</title>

        <link href="{% static 'crowdpact.css' %}" rel="stylesheet" />
    </head>
    <body>
        <input id="pagedata" type="hidden" value="{{ page_data }}" />
        <div id="crowdpact"></div>

        <script src="{% static 'crowdpact.js' %}"></script>

        <script>
            CrowdPact.render(
                '{{ app }}',
                JSON.parse(document.getElementById('pagedata').value),
                document.getElementById('crowdpact')
            );
        </script>
    </body>
</html>
