base-input() {
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    height: 32px;
    padding: 6px 10px;
    width: 200px;
}

input[type="text"] {
    base-input();
}

input[type="password"] {
    base-input();
}
